server:
  port: 0
management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    root: INFO


# zipkin config
management.tracing.sampling.probability: 1.0
spring.zipkin.baseUrl: http://localhost:9411
