server:
  port: 0
management:
  endpoints:
    web:
      exposure:
        include: "*"
logging:
  level:
    root: INFO


# zipkin config
management:
  tracing:
    enabled: true
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: http://localhost:9411
